/******************* Import ********************/
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

/******************* General ********************/
body{
    font-family: 'Raleway', sans-serif;
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}

*, ::after, ::before {
    box-sizing: border-box;
}

p{
    margin-top: 0;
    margin-bottom: 1rem;
}

a{
    text-decoration: none;
    color: black;
}

a:hover, #sign-in, span.stars i.valid{
    color: #0065FC;
}

h1, h2, #sign-in, .h1, .h2{
    font-weight: bolder;
}

h2, .h2{
    font-size: 1.25rem;
    margin: 0;
    line-height: 1.2;
}

h1, .h1{
    font-size: 1.4rem;
    margin: 0;
    line-height: 1.2;
}

section>h1{
    margin-bottom: 1rem;
}

.background{
    background-color: #F2F2F2;
}

.container {
    display: flex;
    margin : 1% 0;
    padding: 0;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: -webkit-fill-available;
    max-width: -moz-available;
    align-items: flex-start;
    height: 100%;
    width: 100%;
}

.row{
    display: flex;
    flex-wrap: wrap;
    margin-right: -0.75rem;
    margin-left: -0.75rem;
}

.row>* {
    width: 100%;
    max-width: 100%;
}


span.stars{
    position: absolute;
    bottom: 0;
    padding: 0.5rem;
}

span.stars i{
    color: #F2F2F2;
}

.flex-wrap{
    flex-wrap: wrap;
}

.d-flex{
    display: flex;
} 

.mt-0{
    margin-top: 0;
}

.px-2 {
    padding-right: .5rem;
    padding-left: .5rem;
}

.col-12, .col-8, .col-7, .col-6, .col-5, .col-2, .col-1, .col-xl-8, .col-xl-4, .col-xl-1, .col-lg-11, .col-lg-4, .col-sm-6, .col-sm-4{
    flex: 0 0 auto;
    width: 100%;
}

.col-11{
    width: 91.6%;
}

.col-8{
    width: 66.6%;
}

.col-7{
    width: 58.3%;
}

.col-6{
    width: 50%;
}

.col-5{
    width: 41.6%;
}

.col-2{
    width: 16.6%;
}

.col-1{
    width: 8.3%;
}

@media (min-width: 1200px){
    h1, .h1{
        font-size: 1.5rem;
    }

    .col-xl-8{
        width: 66.6%;
    }
    
    .col-xl-4{
        width: 33.3%;
    }
    
    .col-xl-1{
        width: 8.3%;
    }
}

@media (min-width: 992px){
    .col-lg-11{
        width: 91.6%;
    }

    .col-lg-4{
        width: 33.3%;
    }
}

@media (min-width: 576px){
    .col-sm-6{
        width: 50%;
    }

    .col-sm-4{
        width: 33.3%;
    }
}
/******************* Content ********************/
#accommodation, #activities, header.container{
    margin: 0 5rem;
}

#accommodation, #activities{
    margin-bottom: 3rem;
}

/******** Header ********/
header.container{
    margin-top: 0;
    justify-content: center
}

header nav .row{
    padding: 0;
}

header nav img, header nav .row a{
    padding: 2.5rem 0;
}

header nav .row a{
    text-align: center;
    border-top: solid 2px white;
}

header nav .row a:hover{
    border-top: solid 2px #0065FC;
}

header #form_search form{
    overflow: hidden;
    flex-wrap: wrap;
}

header #form_search #input_form{
    height: 3.5rem;
    border: solid 1px #F2F2F2;
    border-radius: 1rem;
    align-items: baseline;
    padding: 0;
    overflow: hidden;
    display: flex;
    min-width: fit-content;
    min-width: -moz-fit-content;
}

header #input_form input{
    border: none;
    text-align: center;
    height: 100%;
    margin-bottom: 0;
    font-family: unset;
    padding : 0;
}

header #input_form button{
    background-color: #0065FC;
    height: 100%;
    padding: 0;
    border-color: #0065FC;
}

header #input_form button i{
    display: none;
}

header #input_form>span{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F2F2F2;
}

header #input_form button.h2{
    color: white;
    font-size: 1.25rem;
}

header #filters{
    margin: 1rem 0;
    justify-content: flex-start;
    align-items: center;
}

header #filters h1{
    padding: 0;
    width: auto;
}

header #filters div label{
    display: flex;
    margin: 1.5rem;
    justify-content: center;
    align-items: baseline;
    border: solid 2px #F2F2F2;
    padding: 0;
    border-radius: 5rem;
    overflow: hidden;
    padding-right: 1rem;
}

header #filters div label:hover{
    cursor: pointer;
    box-shadow: 10px 10px 10px #0065FC;
    color: #0065FC;
}

header #filters div input{
    display: none;
}

header #filters div span{
    height: 3rem;
    width: 3rem;
    border-radius: 5rem;
    background-color: #DEEBFF;
    color: #0065FC;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1rem;
}

header #info{
    display: flex;
    align-items: baseline;
}

header #info span{
    width: 2rem;
    height: 2rem;
    margin-right: 1rem;
    border: solid 1px #F2F2F2;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0065FC;
}

/******** Accomodation & Popular ********/
#accommodation_select, #popular{
    border-radius: 1rem;
    padding: 2rem;
    height: 800px;
}

#popular.row{
    align-items: center;
    justify-content: center;
}

/******** Activities ********/
#activities a{
    padding: 0;
}

#activities .row{
    width: 22%;
    height:500px;
    align-content: space-between;
}

/******** Footer ********/
footer.container {
    justify-content: flex-start;
    margin: 0 0 0 0;
    padding: 2rem 5rem;
}

footer.container .row a, footer.container .row h2{
    margin-top: 1%;
}
address{
    font-style: inherit;
}

/******************* Cards ********************/
.card{
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0px 8px 10px #c4c4c4; 
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
}


.card-title {
    margin-bottom: .5rem;
}

.card-body {
    flex: 1 1 auto;
    padding: 1rem 1rem;
}

.card-header{
    background-color: white;
    height: 100%;
    overflow: hidden;
    padding: 0;
    display: flex;
    margin-bottom: 0;
}

.card-header:first-child {   
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

.card-header img, .card-img-top img{
    min-width: 100%;
    height: 100%;
    object-fit: cover;
}

.card a{
    width: 100%;
    height: 100%;
    margin-left: 0;
}

#accommodation_select .card{
    width: 13rem;
    height: 40%;
    padding: 0.5rem;
    min-width: 30%;
}

#accommodation_select .card .card-img-top{
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    width: 100%;
    height: 60%;
    padding: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

#popular .card{
    height: 28%;
    padding: 0.5rem;
}

#popular .card .card-block{
    padding: 1rem;
}

#popular .card a.row{
    width: 100%;
    height: 100%;
    margin-left: 0;
}

#activities .card{
    padding: 0;
    height: 100%;
}

#activities .card h2{
    position: absolute;
    bottom: 0;
    margin: 0;
    padding-left: 5%;
    min-height: 10%;
    width: 100%;
    background-color: white;
}

#activities .card .card-img-top{
    display: flex;
    height: inherit;
    justify-content: center;
    align-items: center;
}

#activities .card .card-img-top img{
    position: absolute;
    width: auto;
    height: auto;
    max-height: 200%;
    max-width: 250%;
    padding: 0;
}

#activities .row:nth-of-type(2) .card.card-mini:nth-of-type(1){
    height: 63%;
}

#activities .row:nth-of-type(2) .card.card-mini:nth-of-type(2){
    height: 32%;
}

#activities .row .card.card-mini{
    height: 45%;
}

/******************* Media Queries ********************/
/******** Pad ********/
@media screen and (max-width: 1200px) {
    header nav img, header nav .row a{
        padding: 1rem 0;
    }

    header nav .row a:hover{
        border-top: solid 2px white;
    }

    nav div a:nth-of-type(3){
        position: absolute;
        top: 0.8rem;
        right: 0rem;
    }

    nav div a:not(:nth-of-type(3)){
        border-bottom: solid 2px #F2F2F2;
        margin-bottom: 1rem;
    }

    nav div a:hover:not(:nth-of-type(3)){
        border-bottom: solid 2px #0065FC;
    }

    header #filters h1{
        width: inherit;
    }

    header #filters div label{
        margin: 0.5rem 0.5rem 0.5rem 0;
    }

    #accommodation{
        flex-wrap: wrap-reverse;
        margin: 0;
        justify-content: center;
    }

    #accommodation_select, #popular{
        height: auto;
        margin-bottom: 2rem;
        padding: 2rem 4rem;
        width: 100%;
        border-radius: 0;
    }

    #accommodation_select{
        background-color: initial;
    }

    #accommodation_select .card{
        width: 13rem;
        min-width: 45%;
    }

    #popular .card, #accommodation_select .card{
        height: 300px;
        margin-bottom: 2rem;
    }

    #activities .container{
        justify-content: center;
    }

    #activities .row{
        width: 100%;
        height:300px;
        margin-bottom: 2rem;
    }

    #activities .row:nth-of-type(2), #activities .row:nth-of-type(4){
        height:650px;
    }

    #activities .row:nth-of-type(2) .card.card-mini:nth-of-type(1), #activities .row:nth-of-type(2) .card.card-mini:nth-of-type(2), #activities .row .card.card-mini{
        height: 300px;
        margin: 0.5rem 0;
    }
    
    #activities .card .card-img-top img{
        max-height: none;
    }
}

/******** Phone ********/
@media screen and (max-width: 700px) {
    #accommodation, #activities, header.container{
        margin: 1rem 0;
    }

    #activities, header.container{
        padding: 0 2rem;
    }

    header nav img, header nav .row a{
        padding: 1rem 0;
    }

    header #input_form button i{
        display: initial;
    }

    header #input_form button span{
        display: none;
    }

    nav div a:nth-of-type(3){
        top: 2rem;
    }

    #accommodation_select .card{
        width: 100%;
        height: 300px;
        margin-bottom: 2rem;
    }

    #accommodation_select, #popular{
        width: inherit;
        padding: 1rem 2rem;
    }

    #activities .card .card-img-top img{
        max-height: 200%;
    }

    #activities .row, #popular .card, #accommodation_select .card, #activities .row:nth-of-type(2) .card.card-mini:nth-of-type(1), #activities .row:nth-of-type(2) .card.card-mini:nth-of-type(2), #activities .row .card.card-mini{
        height: 200px;
    }

    #activities .row:nth-of-type(2), #activities .row:nth-of-type(4){
        height:450px;
    }
}
